# Exploring the data downloaded from USDA FoodData Central

See the download here: https://fdc.nal.usda.gov/download-datasets.html

Data available in `.data/`.

Data dictionary available in  `nutrify/data_exploration/data/FoodData_Central_foundation_food_csv_2021-04-28/Download & API Field Descriptions April 2021.pdf`

In [126]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Get Data

In [288]:
# Import databases
food = pd.read_csv("data/FoodData_Central_foundation_food_csv_2021-04-28/food.csv")
nutrient = pd.read_csv("data/FoodData_Central_Supporting_Data_csv_2021-04-28/nutrient.csv")
food_nutrient = pd.read_csv("data/FoodData_Central_foundation_food_csv_2021-04-28/food_nutrient.csv")

/Users/daniel/code/nutrify/env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [289]:
food.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,319874,sample_food,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
1,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
2,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
3,319877,sub_sample_food,Hummus,16.0,2019-04-01
4,319878,sub_sample_food,Hummus,16.0,2019-04-01

In [290]:
nutrient.head()

     id                         name unit_name  nutrient_nbr    rank
0  1001                       Solids         G         201.0   200.0
1  1002                     Nitrogen         G         202.0   500.0
2  1003                      Protein         G         203.0   600.0
3  1004            Total lipid (fat)         G         204.0   800.0
4  1005  Carbohydrate, by difference         G         205.0  1110.0

In [291]:
food_nutrient.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acqured
0,2201847,319877,1051,56.30,1.0,1.0,NaN,NaN,NaN,NaN,NaN
1,2201845,319877,1002,1.28,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2,2201846,319877,1004,19.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,2201844,319877,1007,1.98,1.0,1.0,NaN,NaN,NaN,NaN,NaN
4,2201852,319878,1091,188.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN

In [128]:
# How many unique?
unique_descriptions = df["description"].unique()
len(unique_descriptions)

11368

Beautiful, this gives us ~11368 foods to work with as a goal to model. But surely they can be split into less categories?

In [129]:
unique_descriptions[:10]

array(['HUMMUS, SABRA CLASSIC', 'Hummus', 'HUMMUS, OTHER',
       'Hummus - NFY12140O', 'Hummus - NFY12140P', 'Hummus - NFY12140Q',
       'Hummus - NFY12140R', 'Hummus - NFY12140S', 'Hummus - NFY12140F',
       'Hummus - NFY12140G'], dtype=object)

Where do these descriptions come from?

How can we reduce them down to like 10 unique foods and keep it simple...

In [130]:
unique_descriptions[-10:]

array(['MUSHROOMS, LIONS MANE', 'OIL, PEANUT', 'OIL, SUNFLOWER',
       'OIL, SAFFLOWER', 'OIL, OLIVE, EXTRA LIGHT',
       'SPINACH, REGULAR (MATURE)', 'SPINACH, BABY', 'TOMATOES, ROMA',
       "MUSHROOMS, LION'S MANE", nan], dtype=object)

In [131]:
# Find random indexes of food to explore
import random
random_number = random.randint(0, len(unique)-10)
unique_descriptions[random_number:random_number+10]

array(['Tuna, canned, BUMBLEBEE CHUNK LIGHT, IN WATER, drained solids (NY) - NFY090S87',
       'Tuna, canned, BUMBLEBEE CHUNK LIGHT, IN WATER, drained solids (NY) - NFY090S8C',
       'Minerals, Tuna, canned, in water, drained solids,  BUMBLEBEE CHUNK LIGHT, IN WATER  (IN,NY) - NFY090S0A',
       'Proximates, Tuna, canned, in water, drained solids,  BUMBLEBEE CHUNK LIGHT, IN WATER  (IN,NY) - NFY090S0B',
       'Tuna, canned, in water, drained solids,  BUMBLEBEE CHUNK LIGHT, IN WATER  (CO,CT) - CY091JN',
       'Tuna, canned, BUMBLEBEE CHUNK LIGHT, IN WATER, drained solids (CT) - NFY090SBJ',
       'Tuna, canned, BUMBLEBEE CHUNK LIGHT, IN WATER, drained solids (CT) - NFY090SBN',
       'Tuna, canned, BUMBLEBEE CHUNK LIGHT, IN WATER, drained solids (CO) - NFY090SX2',
       'Tuna, canned, BUMBLEBEE CHUNK LIGHT, IN WATER, drained solids (CO) - NFY090SWY',
       'Tuna, canned, BUMBLEBEE CHUNK LIGHT, IN WATER, drained solids (CT) - NFY090SBM'],
      dtype=object)

In [132]:
df.columns

Index(['fdc_id', 'data_type', 'description', 'food_category_id',
       'publication_date'],
      dtype='object')

### Food Categories

Let's dive into food categories.

In [133]:
unique_categories = df["food_category_id"].unique()
len(unique_categories)

19

19 different food categories... I wonder what these are?

In [134]:
df["food_category_id"].value_counts()

1.0     6406
9.0     3982
11.0    3788
4.0     2924
16.0    2450
5.0     1503
14.0     918
15.0     913
7.0      795
10.0     613
20.0     588
6.0      568
18.0     488
25.0     474
13.0     454
2.0      386
12.0     267
19.0      54
Name: food_category_id, dtype: int64

In [135]:
# Get food categories
food_cats = pd.read_csv("data/FoodData_Central_Supporting_Data_csv_2021-04-28/food_category.csv")
food_cats

    id  code                          description
0    1   100               Dairy and Egg Products
1    2   200                     Spices and Herbs
2    3   300                           Baby Foods
3    4   400                        Fats and Oils
4    5   500                     Poultry Products
5    6   600           Soups, Sauces, and Gravies
6    7   700          Sausages and Luncheon Meats
7    8   800                    Breakfast Cereals
8    9   900              Fruits and Fruit Juices
9   10  1000                        Pork Products
10  11  1100    Vegetables and Vegetable Products
11  12  1200                Nut and Seed Products
12  13  1300                        Beef Products
13  14  1400                            Beverages
14  15  1500       Finfish and Shellfish Products
15  16  1600          Legumes and Legume Products
16  17  1700        Lamb, Veal, and Game Products
17  18  1800                       Baked Products
18  19  1900                               Sweets
19  20  2000              Cereal Grains and Pasta
20  21  2100                           Fast Foods
21  22  2200      Meals, Entrees, and Side Dishes
22  23  2500                               Snacks
23  24  3500  American Indian/Alaska Native Foods
24  25  3600                     Restaurant Foods
25  26  4500       Branded Food Products Database
26  27  2600            Quality Control Materials
27  28  1410                  Alcoholic Beverages

## 10 foods we want

To keep things simple, we will reduce the databases from FoodData Central to 10 different foods.

Why these foods?

Because we have images for those foods ready to go.

```
["chicken_curry", "chicken_wings", "fried_rice", "grilled_salmon", "humburger", "ice_cream", "pizza", "ramen", "steak", "sushi"]
```

In [136]:
ten_foods = ["chicken_curry", 
    "chicken_wings", 
    "fried_rice", 
    "grilled_salmon", 
    "humburger", 
    "ice_cream", 
    "pizza", 
    "ramen", 
    "steak", 
    "sushi"]
ten_foods

['chicken_curry',
 'chicken_wings',
 'fried_rice',
 'grilled_salmon',
 'humburger',
 'ice_cream',
 'pizza',
 'ramen',
 'steak',
 'sushi']

In [144]:
food.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,319874,sample_food,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
1,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
2,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
3,319877,sub_sample_food,Hummus,16.0,2019-04-01
4,319878,sub_sample_food,Hummus,16.0,2019-04-01

In [287]:
len(food)

12

In [192]:
# Drop rows with nulls
food = food.dropna()

# Foundation food is the ground truth for a certain type of food, excludes some details about the food
# E.g. the data_type foundation_food for Chicken will the the original unique ID for chicken
foundation_food = food[food["data_type"] == "foundation_food"]
len(foundation_food)

195

In [211]:
list(food[food["data_type"] == "sample_food"]["description"].unique())

['HUMMUS, SABRA CLASSIC',
 'HUMMUS, OTHER',
 'HUMMUS, TRIBE CLASSIC',
 'MILK, 2% (WAVE 22E)',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 5, select',
 'Beef,  Eye of Round roast/steak, select, raw, comp13, lean (36BRERS/37BRERRS)',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 10, select',
 'Beef, Eye of Round roast/steak, select, raw, comp5, lean (36BRERS/37BRERRS)',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 11, select',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 16, select',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 17, select',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 18, select',
 'Beef, Eye of Round roast/steak, select, raw, comp6, lean (36BRERS/37BRERRS)',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 22, select',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 23, select',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 28, select',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 29, select',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 35, select',
 'Beef, Eye of Round roast/steak, lean only, raw, animal 36, select',
 'TOMATOES, GRAPE',
 'SALT, MORTON, IODIZED',
 'SALT, GREAT VALUE, IODIZED',
 'SALT, HEB IODIZED',
 'SALT, LAURA LYNN, IODIZED',
 'SALT, ESSENTIAL EVERYDAY, IODIZED',
 'SALT, HY VEE, IODIZED',
 'SALT, SIGNATURE KITCHENS, IODIZED',
 'SALT, FOOD CLUB, IODIZED',
 'SALT, SHOP RITE, IODIZED',
 'BEANS, SNAP, CANNED, DRAINED, DEL MONTE',
 'BEANS, SNAP, CANNED, DRAINED, STORE BRAND',
 'BEANS, SNAP, CANNED, DRAINED, GREAT VALUE',
 'Broccoli, raw (IN1,NY1) - CY0906E',
 'Broccoli, cooked (IN1,NY1) - CY0906K',
 'Broccoli, raw (CA2,NC1) - CY0906G',
 'Broccoli, cooked (CA2,NC1) - CY0906M',
 'Broccoli, raw (AL1,CA1) - CY0906F',
 'Broccoli, cooked (AL1,CA1) - CY0906L',
 'Broccoli, raw (CO2,CT1) - CY0906H',
 'Broccoli, cooked (CO2,CT1) - CY0906N',
 'Broccoli, Region 1, Pure Composite, CY01077',
 'Broccoli, Pass 2, Region 1, Pure Composite, CY010H2',
 'Broccoli, Region 3, Pure Composite, CY0107A',
 'Broccoli, Region 4, Pure Composite, CY0107C',
 'Broccoli, steamed, Region 4, Pure Composite, CY0107D',
 'Broccoli, Region 2, Pure Composite, CY01078',
 'Broccoli, steamed, Region 2, Pure Composite, CY01079',
 'Broccoli, Pass 2, Region 2, Pure Composite, CY010HH',
 'Broccoli, steamed, Pass 2, Region 2, Pure Composite, CY010HJ\n',
 'Broccoli, Pass 2, Region 4, Pure Composite, CY010H3',
 'Broccoli, steamed, Pass 2, Region 4, Pure Composite, CY010H4',
 'Broccoli, Pass 2, Region 3, Pure Composite, CY010HI',
 'MILK, 1%(WAVE 22E)',
 'MILK, 1% (WAVE 22E)',
 'MILK, SKIM (WAVE 22E)',
 'MILK, WHOLE (WAVE 22E)',
 'HOT DOGS, BEEF, BALL PARK ANGUS',
 'HOT DOGS, BEEF, OSCAR MAYER PREMIUM JUMBO',
 'HOT DOGS, BEEF, HEBREW NATIONAL',
 'ALMONDS, DRY ROASTED, SALTED, BLUE DIAMOND',
 'ALMONDS, DRY ROASTED, SALTED, EMERALD',
 'ALMONDS, DRY ROASTED, SALTED, STORE BRAND',
 'ALMONDS, DRY ROASTED, SALTED, SNACK ARTIST',
 'ALMONDS, DRY ROASTED, SALTED, GREAT VALUE',
 'CHEESE, RICOTTA, WHOLE MILK, GALBANI',
 'CHEESE, RICOTTA, WHOLE MILK, SORRENTO',
 'CHEESE, RICOTTA, WHOLE MILK, POLLY-O',
 'CHEESE, RICOTTA, WHOLE MILK, STORE/OTHER',
 'CHEESE, RICOTTA, WHOLE MILK, LUCERNE',
 'KALE, FRESH, UNPREPARED',
 'EGG, LIQUID WHOLE, Producer C, LOT 3',
 'EGG, LIQUID WHOLE, Producer D, LOT 3',
 'EGG, LIQUID WHOLE, Producer A, LOT 2',
 'EGG, LIQUID WHOLE, Producer F, LOT 3',
 'EGG, LIQUID WHOLE, Producer B, LOT 3',
 'EGG, LIQUID WHITE, Producer D, LOT 3',
 'EGG, LIQUID WHITE, Producer C, LOT 3',
 'EGG, LIQUID WHITE, Producer E, LOT 1',
 'EGG, LIQUID WHITE, Producer A, LOT 3',
 'EGG, LIQUID WHITE, Producer F, LOT 3',
 'EGG, LIQUID WHITE, Producer B, LOT 3',
 'EGG, DRIED WHITE STABILIZED, Producer C, LOT 3',
 'EGG, DRIED WHITE STABILIZED, Producer E, LOT 3',
 'EGG, DRIED WHITE STABILIZED, Producer D, LOT 3',
 'EGG, DRIED WHITE STABILIZED, Producer B, LOT 3',
 'EGG, DRIED WHITE STABILIZED, Producer A, LOT 3',
 'SALSA, TOSTITOS CHUNKY - MEDIUM',
 'SALSA, PACE CHUNKY - MEDIUM',
 'Salsa, TOSTITOS CHUNKY, MEDIUM (FL,MO) - CY0914L',
 'Salsa, TOSTITOS CHUNKY, MEDIUM (CO,CT) - CY0914K',
 'Salsa, TOSTITOS CHUNKY, MEDIUM (AL,CA1) - CY0914I',
 'Salsa, TOSTITOS CHUNKY, MEDIUM (IN,NY) - CY0914H',
 'Salsa, TOSTITOS CHUNKY, MEDIUM (CA2,NC) - CY0914J',
 'Salsa, TOSTITOS CHUNKY, MEDIUM (MI,OK) - CY0914M',
 'Salsa, PACE CHUNKY, MEDIUM (AL,CA1) - CY0914O',
 'Salsa, PACE CHUNKY, MEDIUM (IN,NY) - CY0914N',
 'Salsa, PACE CHUNKY, MEDIUM (CA2,NC) - CY0914P',
 'Salsa, PACE CHUNKY, MEDIUM (CO,CT) - CY0914Q',
 'Salsa, PACE CHUNKY, MEDIUM (FL,MO) - CY0914R',
 'Salsa, PACE CHUNKY, MEDIUM (MI,OK) - CY0914S',
 'BEEF BREAKFAST SAUSAGE, BANQUET BROWN N SERVE SAUSAGE LINKS',
 'BEEF BREAKFAST SAUSAGE, ECKRICH SAUSAGE LINKS',
 'BEEF BREAKFAST SAUSAGE, BANQUET BROWN N SERVE SAUSAGE LINKS, MAPLE FLAVOR',
 'Onion rings, frozen, oven-heated, ALEXIA (CA2,NC) - CY1205A',
 'Onion rings, frozen, oven-heated, Store brand/other (AL,MI) - CY1205E',
 'Onion rings, frozen, oven-heated, ORE-IDA (CA2,NC) - CY1205G',
 'Onion rings, frozen, oven-heated, ALEXIA (FL,MO) - CY1205D',
 'Onion rings, frozen, oven-heated, ORE-IDA (CA1,CT) - CY1205F',
 'Onion rings, frozen, oven-heated, ALEXIA (CO,CT) - CY1205B',
 'Onion rings, frozen, oven-heated, ORE-IDA (NY,OK) - CY1205J',
 'Onion rings, frozen, oven-heated, ALEXIA (IN,NY) - CY12058',
 'Onion rings, frozen, oven-heated, Store brand/other, KROGER (CO,IN) - CY1205H',
 'Onion rings, frozen, oven-heated, ORE-IDA (FL,MO) - CY1205I',
 'Onion rings, frozen, oven-heated, ALEXIA (AL,OK) - CY12059',
 'Pickles, kosher dill, spears, VLASIC (FL,MO) - CY120OX',
 'Pickles, kosher dill, spears, VLASIC (CA2,NC) - CY120OV',
 'Pickles, kosher dill, spears, VLASIC (IN,NY) - CY120OT',
 'Pickles, kosher dill, spears, VLASIC (CO,CT) - CY120OW',
 'Pickles, kosher dill, spears, CLAUSEN (IN,NY) - CY120OZ',
 'Pickles, kosher dill, spears, CLAUSEN (CA2,NC) - CY120P1',
 'Pickles, kosher dill, spears, VLASIC (MI,OK) - CY120OY',
 'Pickles, kosher dill, spears, VLASIC (AL,CA1) - CY120OU',
 'Pickles, kosher dill, spears, CLAUSEN (CO,CT) - CY120P2',
 'Pickles, kosher dill, spears, CLAUSEN (MI,OK) - CY120P3',
 'Pickles, kosher dill, spears, CLAUSEN (AL,CA1) - CY120P0',
 'Pickles, kosher dill, spears, store brand, AMERICAS CHOICE & SHOP RITE (NY,CT1) - CY120P5',
 'Pickles, kosher dill, spears, store brand, HY VEE & PUBLIX (MO1,FL) - CY120P9',
 'Pickles, kosher dill, spears, store brand, FOOD LION & SUNNY SELECT (NC1,CA2) - CY120P7',
 'Pickles, kosher dill, spears, store brand, SAFEWAY (CA1,CO1) - CY120P6',
 'Pickles, kosher dill, spears, store brand, GREAT VALUE (AL1,OK1) - CY120P8',
 'Pickles, kosher dill, spears, CLAUSEN (FL,MO) - CY120P4',
 'PICKLES, KOSHER, DILL, SPEARS, CLAUSSEN',
 'Pickles, kosher dill, spears, store brand, KROGER (IN1,MI1) - CY120PA',
 'PICKLES, KOSHER, DILL, SPEARS, MT. OLIVE',
 'PICKLES, KOSHER, DILL, SPEARS, VLASIC',
 'PICKLES, KOSHER, DILL, SPEARS, OTHER',
 'Peanut butter, creamy, SKIPPY (MI) - CY120GH',
 'Peanut butter, creamy, SKIPPY (IN,NY) - CY120GD',
 'Peanut butter, creamy, SKIPPY (CO,CT) - CY120GG',
 'Peanut butter, creamy, JIF (IN,NY) - CY120GJ',
 'Peanut butter, creamy, SKIPPY (FL,MO) - CY120GI',
 'Peanut butter, creamy, SKIPPY (AL,CA1) - CY120GE',
 'Peanut butter, creamy, JIF (CA2,NC) - CY120GL',
 'Peanut butter, creamy, JIF (AL,CA1) - CY120GK',
 'Peanut butter, creamy, JIF (FL,MO) - CY120GN',
 'Peanut butter, creamy, store brand/other brand, AMERICAS CHOICE & GREAT VALUE (NY) - CY120GP',
 'Peanut butter, creamy, store brand/other brand, MY ESSENTIALS & SUNNY SELECT (CA2,NC) - CY120GR',
 'Peanut butter, creamy, JIF (CO,CT) - CY120GM',
 'Peanut butter, creamy, JIF (MI,OK) - CY120GO',
 'Peanut butter, creamy, store brand/other brand, HYVEE & PUBLIX (FL,MO) - CY120GT',
 'Peanut butter, creamy, store brand/other brand, GREAT VALUE (AL,OK) - CY120GQ',
 'Peanut butter, creamy, store brand/other brand, KROGER (IN,MI) - CY120GS',
 'Peanut butter, creamy, store brand/other brand, SAFEWAY KITCHENS & SHOP RITE (CO,CT) - CY120GU',
 'Peanut butter, creamy, SKIPPY (CA2,NC) - CY120GF',
 'Parmesan cheese, grated, KRAFT 100% (FL,MO) - CY120JF',
 'Parmesan cheese, grated, KRAFT 100% (IN,NY) - CY120JB',
 'Parmesan cheese, grated, KRAFT 100% (CA2,NC) - CY120JD',
 'Parmesan cheese, grated, KRAFT 100% (AL,CA1) - CY120JC',
 'Parmesan cheese, grated, store brand/other brand, PRICE CHOPPER (CT) - CY120JH',
 'Parmesan cheese, grated, KRAFT 100% (CO,CT) - CY120JE',
 'Parmesan cheese, grated, KRAFT 100% (MI,OK) - CY120JG',
 'Parmesan cheese, grated, store brand/other brand, MY ESSENTIALS & SUNNYSIDE FARMS (CA2,NC) - CY120JJ',
 'Parmesan cheese, grated, store brand/other brand, GREAT VALUE (AL,OK) - CY120JI',
 'Parmesan cheese, grated, store brand/other brand, SAFEWAY KITCHENS (CO,CA1) - CY120JK',
 'Parmesan cheese, grated, store brand/other brand, FLORA & HYVEE (FL,MO) - CY120JL',
 'Parmesan cheese, grated, store brand/other brand, KROGER (MI,IN) - CY120JM',
 'American cheese, pasteurized process, mixed store brand (AL,OK) - CY090XU - other',
 'American cheese, pasteurized process, KRAFT (IN,NY) - CY090XB',
 'American cheese, pasteurized process, KRAFT (CA2,NC) - CY090XD',
 'American cheese, pasteurized process, LAND-O-LAKES (FL) - CY090XL',
 'American cheese, pasteurized process, mixed store brand (IN,CT) - CY090XT - other',
 'American cheese, pasteurized process, KRAFT DELI DELUXE (CO) - CY090XE',
 'American cheese, pasteurized process, KRAFT (MI,OK) - CY090XG',
 'American cheese, pasteurized process, mixed store brand (CA2,MO) - CY090XV - other',
 'American cheese, pasteurized process, KRAFT (AL,CA1) - CY090XC',
 'American cheese, pasteurized process, KROGER DELUXE (IN) - CY090XZ - other',
 'American cheese, pasteurized process, LUCERNE  (CO,CA1) - CY090XW - other',
 'American cheese, pasteurized process, KRAFT DELI DELUXE (FL,MO) - CY090XF',
 'American cheese, pasteurized process, KROGER DELUXE (MI) - CY090XY - other',
 'American cheese, pasteurized process, GREAT VALUE DELUXE  (AL) - CY090Y1 - other',
 'American cheese, pasteurized process, LUCERNE DELUXE SLICES (CA1) - CY090Y2 - other',
 'American cheese, pasteurized process,, HAVILY CHEESE COMPANY (MO) - CY090Y4 - other',
 'American cheese, pasteurized process, mixed store brand (FL,NY) - CY090XX - other',
 'American cheese, pasteurized process, SUNNYSIDE FARMS (CA2) - CY090Y3 - other',
 'American cheese, pasteurized process, LUCERNE DELUXE SLICES (CO) - CY090Y5 - other',
 'American cheese, pasteurized process, SHOP RITE SINGLES (CT) - CY090Y6 - other',
 'American cheese, pasteurized process, BEST CHOICE DELUXE (OK) - CY090YA - other',
 'American cheese, pasteurized process, HYVEE DELUXE SLICED (MO) - CY090Y8 - other',
 'American cheese, pasteurized process, PUBLIX DELUXE (FL) - CY090Y7 - other',
 'American cheese, pasteurized process, TROPICAL DELUXE AMERICAN CHEESE (NY) - CY090Y9 - other',
 'GRAPEFRUIT JUICE, WHITE, SHELF STABLE, STORE BRAND',
 'GRAPEFRUIT JUICE, WHITE, SHELF STABLE, OCEAN SPRAY',
 'GRAPEFRUIT JUICE, WHITE, SHELF STABLE, SIGNATURE KITCHEN',
 'Peaches, raw, Region 2, C0009D, Pure Composite',
 'Peaches, raw, Region 4, C0009N, Pure Composite',
 'Peaches, raw, Region 1, C0009C, Pure Composite',
 'Peaches, raw, Region 3, C0009M, Pure Composite',
 'Peaches, Raw, Pass 2, Region 2, Pure Composite, CY010G1',
 'Peaches, Raw, Pass 2, Region 4, Pure Composite, CY010G3',
 'Peaches, Raw, Pass 2, Region 3, Pure Composite, CY010G2',
 'Peaches, Raw, Pass 2, Region 1, Pure Composite, CY010G0',
 'SUNFLOWER SEEDS, DRY ROASTED, SALTED, STORE/OTHER',
 'SUNFLOWER SEEDS, DRY ROASTED, SALTED, PLANTERS',
 'ITALIAN PORK SAUSAGE, STORE/OTHER, COOKED',
 'ITALIAN PORK SAUSAGE, KROGER, COOKED',
 'ITALIAN PORK SAUSAGE, JOHNSONVILLE HOT, COOKED',
 'ITALIAN PORK SAUSAGE, GREAT VALUE, COOKED',
 'ITALIAN PORK SAUSAGE, JOHNSONVILLE MILD, COOKED',
 'White bread, store brand, mixed composite (IN1,NY1) - CY090EH',
 'White bread, store brand, mixed composite (MI1,OK1) - CY090EM',
 'White bread, store brand, mixed composite (CA2,NC) - CY090EJ',
 'White bread, store brand, PUBLIX BREAD (FL1) - CY090EL',
 'White bread, store brand, mixed composite (AL1,CA1) - CY090EI',
 'White bread, store brand, mixed composite (CO2,CT1) - CY090EK',
 'White bread, store brand, FOOD WORLD SANDWICH BREAD (AL1) - CY090EP',
 'White bread, store brand, AMERICAS CHOICE LARGE WHITE (NY1) - CY090EO',
 'White bread, store brand, SUNNYSIDE FARMS BREAD (CA2) - CY090ER',
 'White bread, store brand, SAFEWAY PREMIUM WHITE (CA1) - CY090EQ',
 'White bread, store brand, KROGER BREAD (IN1) - CY090EN',
 'White bread, store brand, LOWES FOOD STORE (NC1) - CY090ES',
 'White bread, store brand, SHOP RITE ROUND TOP WHITE (CT1) - CY090EU',
 'White bread, store brand, KROGER BREAD (MI1) - CY090EX',
 'White bread, store brand, PUBLIX BREAD (FL1) - CY090EV',
 'White bread, store brand, GREAT VALUE WHITE (OK1) - CY090EY',
 'White bread, store brand, SAFEWAY PREMIUM WHITE (CO1) - CY090ET',
 'White bread, PEPPERIDGE FARMS (FL1,MO1) - CY090F2',
 'White bread, PEPPERIDGE FARMS (CO1,CT1) - CY090F1',
 'White bread, PEPPERIDGE FARMS (NC1,NY1,MI1) - CY090F4',
 'White bread, SARA LEE SOFT AND SMOOTH CLASSIC WHOLE (IN1,MO1) - CY090F5',
 'White bread, SARA LEE SOFT AND SMOOTH CLASSIC WHOLE (AL1,CA1) - CY090F6',
 'TURKEY BREAKFAST SAUSAGE, HONEYSUCKLE WHITE',
 'TURKEY BREAKFAST SAUSAGE, HILLSHIRE SMOKED',
 'TURKEY BREAKFAST SAUSAGE, JIMMY DEAN',
 'TURKEY BREAKFAST SAUSAGE, JENNIE O - MILD',
 'TURKEY BREAKFAST SAUSAGE, HONEYSUCKLE FRESH',
 'TURKEY BREAKFAST SAUSAGE, BUTTERBALL',
 'Cheese, swiss, slices, SARGENTO ULTRA THIN (FL) 18c-16-04',
 'Cheese, swiss, slices, SARGENTO ULTRA THIN (MI, OK) 18c-16-06',
 'Cheese, swiss, slices, SARGENTO ULTRA THIN (AL, CA1) 18c-16-02',
 'Cheese, swiss, slices, SARGENTO ULTRA THIN (CO, CT) 18c-16-05',
 'Cheese, swiss, slices, store brand, FOOD LION & AMERICAN CHOICE (NY, NC) 18c-17-06',
 'Cheese, swiss, slices, SARGENTO ULTRA THIN (CA2, NC) 18c-16-03',
 'Cheese, swiss, slices, store brand, PIGGLY WIGGLY (AL, CA1) 18c-17-02',
 'Cheese, swiss, slices, SARGENTO ULTRA THIN (IN, NY) 18c-16-01',
 'Cheese, swiss, slices, store brand, SHOP RITE & GREAT VALUE (CT, OK) 18c-17-04',
 'Cheese, swiss, slices, store brand, KROGER (IN, MI) 18c-17-01',
 'Cheese, swiss, slices, store brand, HYVEE & PUBLIX (FL, MO) 18c-17-05',
 'Cheese, swiss, slices, store brand, LUCERNE (CA2, CO) 18c-17-03',
 'KALE, FROZEN, COOKED',
 'Carrots, sliced or crinkle cut, frozen, unprepared, mixed composite, C9818L',
 'Carrots, sliced or crinkle cut, frozen, unprepared, mixed composite, C9818P',
 'Carrots, sliced or crinkle cut, frozen, unprepared, mixed composite, C9818Q',
 'Carrots, sliced or crinkle cut, frozen, unprepared, mixed composite, C9818T',
 'Carrots, sliced or crinkle cut, frozen, unprepared, mixed composite, C9818M',
 'Carrots, whole, frozen, unprepared, mixed composite, C9818Z',
 'Carrots, whole, frozen, unprepared, mixed composite, C98193',
 'Carrots, sliced or crinkle cut, frozen, unprepared, mixed composite, C9818I',
 'Carrots, whole, frozen, unprepared, mixed composite, C98197',
 'Carrots, whole, frozen, unprepared, mixed composite, C98190',
 'Carrots, whole, frozen, unprepared, mixed composite, C9818W',
 'Mustard, yellow, FRENCHS CLASSIC (CA2,NC) - CY120PV',
 'Mustard, yellow, FRENCHS CLASSIC (FL,MO) - CY120PX',
 'Mustard, yellow, FRENCHS CLASSIC (IN,NY) - CY120PT',
 'Mustard, yellow, store brand, AMERICAS CHOICE & SHOP RITE  (NY,CT1) - CY120PZ',
 'Mustard, yellow, store brand, MY ESSENTIALS & SUNNY SELECT (NC1,CA2) - CY120Q1',
 'Mustard, yellow, FRENCHS CLASSIC (CO,CT) - CY120PW',
 'Mustard, yellow, FRENCHS CLASSIC (MI,OK) - CY120PY',
 'Mustard, yellow, store brand, HY VEE & PUBLIX (MO1,FL) - CY120Q3',
 'Mustard, yellow, FRENCHS CLASSIC (AL,CA1) - CY120PU',
 'Mustard, yellow, store brand, SAFEWAY (CA1,CO1) - CY120Q2',
 'Mustard, yellow, store brand, GREAT VALUE (AL1,OK1) - CY120Q0',
 'Mustard, yellow, store brand, KROGER (IN1,MI1) - CY120Q4',
 'Prepared Yellow Mustard, Frenchs Classic Yellow Mustard, National, Pure - CY01335',
 'Prepared Yellow Mustard, Store Brand, National, Pure - CY01337',
 'Prepared Yellow Mustard, National, Mixed - CY01338',
 'Figs, Mission, Dried, Region 3, Pure Composite, CY0100S',
 'Figs, Mission, Dried, Region 2, Pure Composite, CY0100R',
 'Figs, Pass 2, Region 1, Mixed Composite, CY010GQ',
 'Figs, Pass 2, Region 2, Pure Composite, CY010GR',
 'Figs, Mission, Dried, Region 4, Mixed Composite, CY0100T',
 'Figs, Pass 2, Region 4, Pure Composite, CY010GT',
 'Figs, Pass 2, Region 3, Pure Composite, CY010GS',
 'Figs, Mission, Dried, Region 1, Mixed Composite, CY0100Q',
 'Kiwi, Pass 2, Region 2, Pure Composite, CY010GA',
 'Kiwi, Region 4, Pure Composite, CY0100X',
 'Kiwi, Region 2, Pure Composite, CY0100V',
 'Kiwi, Pass 2, Region 1, Pure Composite, CY010G9',
 'Kiwi, Region 3, Pure Composite, CY0100W',
 'Kiwi, Region 1, Pure Composite, CY0100U',
 'Kiwi, Pass 2, Region 3, Pure Composite, CY010GB',
 'Kiwi, Pass 2, Region 4, Pure Composite, CY010GC',
 'Cantaloupe, raw, Region 2, C0009H, Pure Composite',
 'Cantaloupe, raw, Region 3, C0009Q, Pure Composite',
 'Cantaloupe, raw, Region 1, C0009G, Pure Composite',
 'Cantaloupe, raw, Region 4, C0009R, Pure Composite',
 'Cantaloupe, Raw, Pass 2, Region 4, Pure Composite, CY010H7',
 'Cantaloupe, Raw, Pass 2, Region 2, Pure Composite, CY010HK',
 'Cantaloupe, Raw, Pass 2, Region 3, Pure Composite, CY010HL',
 'Cantaloupe, Raw, Pass 2, Region 1, Pure Composite, CY010H6',
 'Nectarines, Raw, Pass 2, Region 2, Pure Composite, CY010G5',
 'Fresh Nectarines, Region 2, C0006C, Pure composite',
 'Fresh Nectarines, Region 4, C0006E, Pure composite',
 'Nectarines, Raw, Pass 2, Region 1, Pure Composite, CY010G4',
 'Fresh Nectarines, Region 3, C0006D, Pure composite',
 'Nectarines, Raw, Pass 2, Region 3, Pure Composite, CY010G6',
 'Nectarines, Raw, Pass 2, Region 4, Pure Composite, CY010G7',
 'Fresh Nectarines, Region 1, C0006B, Pure composite',
 'Oranges, Navel, Pass 2, Region 2, CY0109W, Yes',
 'Oranges, Navel, Pass 2, Region 4, CY0109Y, Yes',
 'Oranges, Navel, Pass 2, Region 3, CY0109X, Yes',
 'Oranges, Navel, Region 1, Pure Composite, CY0106Z',
 'Oranges, Navel, Region 2, Pure Composite, CY01070',
 'Oranges, Navel, Region 4, Pure Composite, CY01072',
 'Oranges, Navel, Region 3, Pure Composite, CY01071',
 'Oranges, Navel, Pass 2, Region 1, CY0109V, Yes',
 'Strawberries, Fresh, Pass 2, Region 2, CY010CC, Yes',
 'Fresh Strawberries, Region 4, C0006A, Pure composite',
 'Fresh Strawberries, Region 3, C00069, Pure composite',
 'Fresh Strawberries, Region 2, C00068, Pure composite',
 'Strawberries, Fresh, Pass 2, Region 1, CY010CB, Yes',
 'Fresh Strawberries, Region 1, C00067, Pure composite',
 'Strawberries, Fresh, Pass 2, Region 4, CY010CE, Yes',
 'Strawberries, Fresh, Pass 2, Region 3, CY010CD, Yes',
 'Lettuce, Romaine, fresh (FL1,MO1) - CY09070',
 'Lettuce, Romaine, fresh (MI1,OK1) - CY09071',
 'Lettuce, Romaine, fresh (AL1,CA1) - CY0906X',
 'Lettuce, Romaine, fresh (IN1,NY1) - CY0906W',
 'Lettuce, Romaine, fresh (CA2,NC1) - CY0906Y',
 'Lettuce, Romaine, fresh (CO2,CT1) - CY0906Z',
 'Romaine Lettuce, Pass 2, Pure Composite, CY01085',
 'Romaine Lettuce, Pass 2, Pure Composite, CY01084',
 'Romaine Lettuce, Pass 2, Pure Composite, CY01082',
 'Romaine Lettuce, Pass 2, Pure Composite, CY01083',
 'Romaine Lettuce, Region 1, Pure Composite, CY0104V',
 'Romaine Lettuce, Region 2, Pure Composite, CY0104W',
 'Romaine Lettuce, Region 3, Pure Composite, CY0104X',
 'Romaine Lettuce, Region 4, Pure Composite, CY0104Y',
 'Cheddar cheese, sliced, CRACKER BARREL (NY,NC) - CY120I5',
 'Cheddar cheese, sliced, TILLAMOOK (CO,CA1) - CY120I3',
 'Cheddar cheese, sliced, CRACKER BARREL (FL,MO) - CY120I7',
 'Cheddar cheese, sliced, CRACKER BARREL (AL,CT) - CY120I6',
 'Cheddar cheese, sliced, CRACKER BARREL (MI) - CY120I8',
 'Cheddar cheese, sliced, SARGENTO SHARP  (NY) - CY120I9',

In [197]:
foundation_foods = foundation_food["description"]
foundation_foods[20:40]

4153               Peanut butter, smooth style, with salt
4329                             Cheese, parmesan, grated
4491    Cheese, pasteurized process, American, vitamin...
4580    Grapefruit juice, white, canned or bottled, un...
4723                                 Peaches, yellow, raw
4817    Seeds, sunflower seed kernels, dry roasted, wi...
4951      Sausage, Italian, pork, mild, cooked, pan-fried
5164                  Bread, white, commercially prepared
5285          Sausage, turkey, breakfast links, mild, raw
5428                                        Cheese, swiss
5489    Kale, frozen, cooked, boiled, drained, without...
5751    Carrots, frozen, unprepared (Includes foods fo...
5991                            Mustard, prepared, yellow
6198                                Figs, dried, uncooked
6339                                Kiwifruit, green, raw
6491                              Melons, cantaloupe, raw
6650                                      Nectarines, raw
6794    Oranges, raw, navels (Includes foods for USDA'...
6992                                    Strawberries, raw
7216                         Lettuce, cos or romaine, raw
Name: description, dtype: object

In [203]:
# Found a list of the foundation foods we're going to start with!
list(foundation_foods)

['Hummus, commercial',
 'Milk, reduced fat, fluid, 2% milkfat, with added vitamin A and vitamin D',
 'Tomatoes, grape, raw',
 'Salt, table, iodized',
 'Beans, snap, green, canned, regular pack, drained solids',
 'Broccoli, raw',
 'Milk, lowfat, fluid, 1% milkfat, with added vitamin A and vitamin D',
 'Milk, nonfat, fluid, with added vitamin A and vitamin D (fat free or skim)',
 'Milk, whole, 3.25% milkfat, with added vitamin D',
 'Frankfurter, beef, unheated',
 'Nuts, almonds, dry roasted, with salt added',
 'Cheese, ricotta, whole milk',
 'Kale, raw',
 'Egg, whole, raw, frozen, pasteurized',
 'Egg, white, raw, frozen, pasteurized',
 'Egg, white, dried',
 'Sauce, salsa, ready-to-serve',
 'Sausage, breakfast sausage, beef, pre-cooked, unprepared',
 'Onion rings, breaded, par fried, frozen, prepared, heated in oven',
 'Pickles, cucumber, dill or kosher dill',
 'Peanut butter, smooth style, with salt',
 'Cheese, parmesan, grated',
 'Cheese, pasteurized process, American, vitamin D fortified',
 'Grapefruit juice, white, canned or bottled, unsweetened',
 'Peaches, yellow, raw',
 'Seeds, sunflower seed kernels, dry roasted, with salt added',
 'Sausage, Italian, pork, mild, cooked, pan-fried',
 'Bread, white, commercially prepared',
 'Sausage, turkey, breakfast links, mild, raw',
 'Cheese, swiss',
 'Kale, frozen, cooked, boiled, drained, without salt',
 "Carrots, frozen, unprepared (Includes foods for USDA's Food Distribution Program)",
 'Mustard, prepared, yellow',
 'Figs, dried, uncooked',
 'Kiwifruit, green, raw',
 'Melons, cantaloupe, raw',
 'Nectarines, raw',
 "Oranges, raw, navels (Includes foods for USDA's Food Distribution Program)",
 'Strawberries, raw',
 'Lettuce, cos or romaine, raw',
 'Cheese, cheddar',
 'Cheese, cottage, lowfat, 2% milkfat',
 'Cheese, mozzarella, low moisture, part-skim',
 'Egg, whole, dried',
 'Egg, yolk, raw, frozen, pasteurized',
 'Egg, yolk, dried',
 'Cheese, dry white, queso seco',
 'Yogurt, Greek, plain, nonfat',
 'Yogurt, Greek, strawberry, nonfat',
 'Oil, coconut',
 'Turkey, ground, 93% lean, 7% fat, pan-broiled crumbles',
 'Chicken, broilers or fryers, drumstick, meat only, cooked, braised',
 'Chicken, broiler or fryers, breast, skinless, boneless, meat only, cooked, braised',
 'Sauce, pasta, spaghetti/marinara, ready-to-serve',
 'Ham, sliced, pre-packaged, deli meat (96%fat free, water added)',
 "Pears, raw, bartlett (Includes foods for USDA's Food Distribution Program)",
 'Olives, green, Manzanilla, stuffed with pimiento',
 'Sausage, pork, chorizo, link or ground, cooked, pan-fried',
 'Cookies, oatmeal, soft, with raisins',
 'Tomatoes, canned, red, ripe, diced',
 'Fish, haddock, raw',
 'Fish, pollock, raw',
 'Fish, tuna, light, canned in water, drained solids',
 'Sugars, granulated',
 'Restaurant, Chinese, sweet and sour pork',
 'Restaurant, Chinese, fried rice, without meat',
 'Restaurant, Latino, tamale, pork',
 'Restaurant, Latino, pupusas con frijoles (pupusas, bean)',
 'Beef, loin, top loin steak, boneless, lip-on, separable lean only, trimmed to 1/8" fat, choice, raw',
 'Beef, loin, tenderloin roast, separable lean only, boneless, trimmed to 0" fat, select, cooked, roasted',
 'Beef, round, eye of round roast, boneless, separable lean only, trimmed to 0" fat, select, raw',
 'Beef, round, top round roast, boneless, separable lean only, trimmed to 0" fat, select, raw',
 'Beef, short loin, t-bone steak, bone-in, separable lean only, trimmed to 1/8" fat, choice, cooked, grilled',
 'Beef, short loin, porterhouse steak, separable lean only, trimmed to 1/8" fat, select, raw',
 'Bread, whole-wheat, commercially prepared',
 'Beans, Dry, Dark Red Kidney (0% moisture)',
 'Beans, Dry, Pink (0% moisture)',
 'Beans, Dry, Navy (0% moisture)',
 'Beans, Dry, Light Red Kidney (0% moisture)',
 'Beans, Dry, Brown (0% moisture)',
 'Beans, Dry, Flor de Mayo (0% moisture)',
 'Beans, Dry, Carioca (0% moisture)',
 'Beans, Dry, Tan (0% moisture)',
 'Beans, Dry, Pinto (0% moisture)',
 'Beans, Dry, Small Red (0% moisture)',
 'Beans, Dry, Medium Red (0% moisture)',
 'Beans, Dry, Cranberry (0% moisture)',
 'Beans, Dry, Light Tan (0% moisture)',
 'Beans, Dry, Black (0% moisture)',
 'Beans, Dry, Small White (0% moisture)',
 'Beans, Dry, Red (0% moisture)',
 'Beans, Dry, Great Northern (0% moisture)',
 'Beef, loin, tenderloin roast, separable lean only, boneless, trimmed to 0" fat, select, cooked, roasted',
 'Beef, loin, top loin steak, boneless, lip-on, separable lean only, trimmed to 1/8" fat, choice, raw',
 'Beef, round, eye of round roast, boneless, separable lean only, trimmed to 0" fat, select, raw',
 'Beef, round, top round roast, boneless, separable lean only, trimmed to 0" fat, select, raw',
 'Beef, short loin, porterhouse steak, separable lean only, trimmed to 1/8" fat, select, raw',
 'Beef, short loin, t-bone steak, bone-in, separable lean only, trimmed to 1/8" fat, choice, cooked, grilled',
 'Carrots, frozen, unprepared',
 'Cheese, dry white, queso seco',
 'Cheese, ricotta, whole milk',
 'Cheese, swiss',
 'Figs, dried, uncooked',
 'Lettuce, cos or romaine, raw',
 'Melons, cantaloupe, raw',
 'Oranges, raw, navels',
 'Milk, lowfat, fluid, 1% milkfat, with added vitamin A and vitamin D',
 'Pears, raw, bartlett',
 'Restaurant, Chinese, sweet and sour pork',
 'Salt, table, iodized',
 'Milk, nonfat, fluid, with added vitamin A and vitamin D (fat free or skim)',
 'Sauce, salsa, ready-to-serve',
 'Milk, reduced fat, fluid, 2% milkfat, with added vitamin A and vitamin D',
 'Sausage, breakfast sausage, beef, pre-cooked, unprepared',
 'Sausage, Italian, pork, mild, cooked, pan-fried',
 'Sausage, pork, chorizo, link or ground, cooked, pan-fried',
 'Milk, whole, 3.25% milkfat, with added vitamin D',
 'Sausage, turkey, breakfast links, mild, raw',
 'Sugars, granulated',
 'Turkey, ground, 93% lean, 7% fat, pan-broiled crumbles',
 'Ham, sliced, restaurant',
 'Cheese, American, restaurant',
 'Beans, Dry, Medium Red (0% moisture)',
 'Beans, Dry, Red (0% moisture)',
 'Beans, Dry, Flor de Mayo (0% moisture)',
 'Beans, Dry, Brown (0% moisture)',
 'Beans, Dry, Tan (0% moisture)',
 'Beans, Dry, Light Tan (0% moisture)',
 'Beans, Dry, Carioca (0% moisture)',
 'Beans, Dry, Cranberry (0% moisture)',
 'Beans, Dry, Light Red Kidney (0% moisture)',
 'Beans, Dry, Pink (0% moisture)',
 'Beans, Dry, Dark Red Kidney (0% moisture)',
 'Beans, Dry, Navy (0% moisture)',
 'Beans, Dry, Small White (0% moisture)',
 'Beans, Dry, Small Red (0% moisture)',
 'Beans, Dry, Black (0% moisture)',
 'Beans, Dry, Pinto (0% moisture)',
 'Beans, Dry, Great Northern (0% moisture)',
 'Broccoli, raw',
 'Strawberries, raw',
 'Ketchup, restaurant',
 'Eggs, Grade A, Large, egg white',
 'Eggs, Grade A, Large, egg yolk',
 'Oil, canola',
 'Oil, corn',
 'Oil, soybean',
 'Oil, olive, extra virgin',
 'Eggs, Grade A, Large, egg whole',
 'Pork, cured, bacon, cooked, restaurant',
 'Butter, stick, unsalted',
 'Flour, wheat, all-purpose, enriched, bleached',
 'Flour, wheat, all-purpose, enriched, unbleached',
 'Flour, wheat, all-purpose, unenriched, unbleached',
 'Flour, whole wheat, unenriched',
 'Flour, bread, white, enriched, unbleached',
 'Flour, rice, white, unenriched',
 'Flour, corn, yellow, fine meal, enriched',
 'Butter, stick, salted',
 'Onions, red, raw',
 'Onions, yellow, raw',
 'Bananas, overripe, raw',
 'Bananas, ripe and slightly ripe, raw',
 'Garlic, raw',
 'Flour, soy, defatted',
 'Flour, soy, full-fat',
 'Flour, rice, brown',
 'Flour, rice, glutinous',
 'Flour, pastry, unenriched, unbleached',
 'Onions, white, raw',
 'Bananas, overripe, raw',
 'Bananas, ripe and slightly ripe, raw',
 'Apples, red delicious, with skin, raw',
 'Apples, honeycrisp, with skin, raw',
 'Apples, granny smith, with skin, raw',
 'Apples, gala, with skin, raw',
 'Apples, fuji, with skin, raw',
 'Soy milk, unsweetened, plain, shelf stable',
 'Almond milk, unsweetened, plain, shelf stable',
 'Apples, red delicious, with skin, raw',
 'Apples, fuji, with skin, raw',
 'Apples, gala, with skin, raw',
 'Apples, granny smith, with skin, raw',
 'Apples, honeycrisp, with skin, raw',
 "Mushroom, lion's mane",
 'Mushroom, oyster',
 'Mushrooms, shiitake',
 'Mushrooms, white button',
 'Oil, peanut',
 'Oil, sunflower',
 'Oil, safflower',
 'Oil, olive, extra light',
 'Spinach, baby',
 'Spinach, mature',
 'Tomato, roma']

In [212]:
# food.loc[(food["description"].str.contains("chicken", case=False)) & (food["description"].str.contains("drumstick", case=False))][-10:]
# Find chicken in foundation food
for food in foundation_foods:
    if "chicken" in food.lower():
        print(food)

Chicken, broilers or fryers, drumstick, meat only, cooked, braised
Chicken, broiler or fryers, breast, skinless, boneless, meat only, cooked, braised

In [224]:
chicken_wing_id = int(foundation_food.loc[foundation_food["description"].str.contains("Chicken", case=False)].iloc[0]["fdc_id"])
chicken_wing_id

331897

In [226]:
food_nutrient[food_nutrient["fdc_id"] == chicken_wing_id]

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acqured
41650,2259068,331897,1303,0.003,5.0,1.0,0.002,0.004,0.003,NaN,2010.0
41651,2259065,331897,1280,0.008,5.0,1.0,0.008,0.009,0.008,NaN,2010.0
41652,2259076,331897,1404,0.045,5.0,1.0,0.035,0.059,0.042,NaN,2010.0
41653,2259059,331897,1261,0.002,5.0,1.0,0.001,0.003,0.002,NaN,2010.0
41654,2259106,331897,1109,0.170,1.0,1.0,NaN,NaN,0.170,NaN,2010.0
...,...,...,...,...,...,...,...,...,...,...,...
41740,2259066,331897,1300,0.006,5.0,1.0,0.005,0.007,0.006,NaN,2010.0
41741,2259121,331897,1271,0.088,5.0,1.0,0.083,0.094,0.087,NaN,2010.0
41742,2259112,331897,1167,5.050,5.0,1.0,4.890,5.240,5.050,NaN,2010.0
41743,2259074,331897,1329,0.021,NaN,4.0,NaN,NaN,NaN,NaN,NaN
41744,2259138,331897,1330,0.008,NaN,4.0,NaN,NaN,NaN,NaN,NaN

## Get protein, carb, fat IDs

See this document for info on foundation foods and their nutrients - https://fdc.nal.usda.gov/docs/Foundation_Foods_Documentation_Apr2021.pdf

* Carbohydrate, by difference = total carbohydrates

In [235]:
nutrient[(nutrient["name"].str.contains("protein", case=False)) | \
         (nutrient["name"].str.contains("carbohydrate", case=False)) | \
         (nutrient["name"].str.contains("fat", case=False))]

,id,name,unit_name,nutrient_nbr,rank
2,1003,Protein,G,203.0,600.0
3,1004,Total lipid (fat),G,204.0,800.0
4,1005,"Carbohydrate, by difference",G,205.0,1110.0
48,1049,"Solids, non-fat",G,253.0,999999.0
49,1050,"Carbohydrate, by summation",G,205.2,1120.0
52,1053,Adjusted Protein,G,257.0,700.0
70,1072,"Carbohydrate, other",G,284.0,NaN
83,1085,Total fat (NLEA),G,298.0,900.0
254,1257,"Fatty acids, total trans",G,605.0,15400.0
255,1258,"Fatty acids, total saturated",G,606.0,9700.0
287,1291,"Fatty acids, other than 607-615, 617-621, 624-...",G,644.0,999999.0
288,1292,"Fatty acids, total monounsaturated",G,645.0,11400.0
289,1293,"Fatty acids, total polyunsaturated",G,646.0,12900.0
314,1318,"Fatty acids, saturated, other",G,677.0,999999.0
315,1319,"Fatty acids, monounsat., other",G,678.0,999999.0
316,1320,"Fatty acids, polyunsat., other",G,679.0,999999.0
322,1326,"Fatty acids, total sat., NLEA",G,690.0,999999.0
323,1327,"Fatty acids, total monounsat., NLEA",G,691.0,999999.0
324,1328,"Fatty acids, total polyunsat., NLEA",G,692.0,999999.0
325,1329,"Fatty acids, total trans-monoenoic",G,693.0,15500.0
326,1330,"Fatty acids, total trans-dienoic",G,694.0,15601.0
327,1331,"Fatty acids, total trans-polyenoic",G,695.0,15619.0
446,2039,Carbohydrates,G,956.0,1100.0

In [236]:
target_nutrients = nutrient[nutrient["name"].isin(["Protein", "Total lipid (fat)", "Carbohydrate, by difference"])]
target_nutrients

     id                         name unit_name  nutrient_nbr    rank
2  1003                      Protein         G         203.0   600.0
3  1004            Total lipid (fat)         G         204.0   800.0
4  1005  Carbohydrate, by difference         G         205.0  1110.0

In [271]:
target_nutrient_dict = {1003: "protein",
    1004: "fat",
    1005: "carbohydrate"
}

## Get target food protein, fat, carbohydrates

We want to now index on the target foods and the target nutrients and retrieve their values for each food/nutrient.

E.g.

```python
{"food_1": {"protein": 100,
            "carbohydrate": 50,
            "fat": 20},
 "food_2": ...

...}
```

In [275]:
list(target_nutrient_dict.keys())

[1003, 1004, 1005]

In [273]:
food_nutrient

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acqured,nutrient_name
0,2201847,319877,1051,56.30,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Water
1,2201845,319877,1002,1.28,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Nitrogen
2,2201846,319877,1004,19.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
3,2201844,319877,1007,1.98,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Ash
4,2201852,319878,1091,188.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,"Phosphorus, P"
...,...,...,...,...,...,...,...,...,...,...,...,...
105684,21115567,1757386,2050,15.95,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin
105685,21115568,1757387,2050,37.47,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin
105686,21115569,1757388,2050,17.52,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin
105687,21115570,1757389,2050,11.06,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin
105688,21115571,1757390,2050,10.27,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin

In [276]:
food_nutrient[(food_nutrient["nutrient_id"].isin(list(target_nutrient_dict.keys())))]

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acqured,nutrient_name
2,2201846,319877,1004,19.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
16,2201859,319882,1004,18.70,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
28,2201873,319892,1004,16.60,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
43,2201886,319899,1004,19.10,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
97,2201942,319908,1004,18.20,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
...,...,...,...,...,...,...,...,...,...,...,...,...
105606,21114599,1757307,1004,0.15,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
105613,21114606,1757314,1004,0.28,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
105642,21114635,1757343,1004,0.10,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
105652,21114645,1757353,1004,0.18,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
105676,21114669,1757377,1004,0.21,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)

In [270]:
food_nutrient.dtypes

id                    int64
fdc_id                int64
nutrient_id           int64
amount              float64
data_points         float64
derivation_id       float64
min                 float64
max                 float64
median              float64
footnote             object
min_year_acqured    float64
nutrient_name        object
dtype: object

In [262]:
food_nutrient["nutrient_name"] = food_nutrient["nutrient_id"].map(nutrient.set_index("id")["name"])
food_nutrient

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acqured,nutrient_name
0,2201847,319877,1051,56.30,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Water
1,2201845,319877,1002,1.28,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Nitrogen
2,2201846,319877,1004,19.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat)
3,2201844,319877,1007,1.98,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Ash
4,2201852,319878,1091,188.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,"Phosphorus, P"
...,...,...,...,...,...,...,...,...,...,...,...,...
105684,21115567,1757386,2050,15.95,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin
105685,21115568,1757387,2050,37.47,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin
105686,21115569,1757388,2050,17.52,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin
105687,21115570,1757389,2050,11.06,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin
105688,21115571,1757390,2050,10.27,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Genistin

In [277]:
# Find nutrition for chicken_wing_id (protein, fat, carb)
food_nutrient[(food_nutrient["fdc_id"] == chicken_wing_id) & (food_nutrient["nutrient_id"].isin(list(target_nutrient_dict.keys())))]

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acqured,nutrient_name
41686,2259098,331897,1004,5.95,6.0,1.0,5.54,6.33,5.93,NaN,2010.0,Total lipid (fat)
41718,2259079,331897,1003,23.90,NaN,49.0,23.00,24.60,24.10,NaN,NaN,Protein
41729,2259099,331897,1005,0.00,NaN,49.0,NaN,NaN,NaN,NaN,NaN,"Carbohydrate, by difference"

In [ ]:
ten_foods_ids = {chicken_curry}

In [278]:
ten_foods

['chicken_curry',
 'chicken_wings',
 'fried_rice',
 'grilled_salmon',
 'humburger',
 'ice_cream',
 'pizza',
 'ramen',
 'steak',
 'sushi']

In [284]:
sorted(list(foundation_foods))

['Almond milk, unsweetened, plain, shelf stable',
 'Apples, fuji, with skin, raw',
 'Apples, fuji, with skin, raw',
 'Apples, gala, with skin, raw',
 'Apples, gala, with skin, raw',
 'Apples, granny smith, with skin, raw',
 'Apples, granny smith, with skin, raw',
 'Apples, honeycrisp, with skin, raw',
 'Apples, honeycrisp, with skin, raw',
 'Apples, red delicious, with skin, raw',
 'Apples, red delicious, with skin, raw',
 'Bananas, overripe, raw',
 'Bananas, overripe, raw',
 'Bananas, ripe and slightly ripe, raw',
 'Bananas, ripe and slightly ripe, raw',
 'Beans, Dry, Black (0% moisture)',
 'Beans, Dry, Black (0% moisture)',
 'Beans, Dry, Brown (0% moisture)',
 'Beans, Dry, Brown (0% moisture)',
 'Beans, Dry, Carioca (0% moisture)',
 'Beans, Dry, Carioca (0% moisture)',
 'Beans, Dry, Cranberry (0% moisture)',
 'Beans, Dry, Cranberry (0% moisture)',
 'Beans, Dry, Dark Red Kidney (0% moisture)',
 'Beans, Dry, Dark Red Kidney (0% moisture)',
 'Beans, Dry, Flor de Mayo (0% moisture)',
 'Beans, Dry, Flor de Mayo (0% moisture)',
 'Beans, Dry, Great Northern (0% moisture)',
 'Beans, Dry, Great Northern (0% moisture)',
 'Beans, Dry, Light Red Kidney (0% moisture)',
 'Beans, Dry, Light Red Kidney (0% moisture)',
 'Beans, Dry, Light Tan (0% moisture)',
 'Beans, Dry, Light Tan (0% moisture)',
 'Beans, Dry, Medium Red (0% moisture)',
 'Beans, Dry, Medium Red (0% moisture)',
 'Beans, Dry, Navy (0% moisture)',
 'Beans, Dry, Navy (0% moisture)',
 'Beans, Dry, Pink (0% moisture)',
 'Beans, Dry, Pink (0% moisture)',
 'Beans, Dry, Pinto (0% moisture)',
 'Beans, Dry, Pinto (0% moisture)',
 'Beans, Dry, Red (0% moisture)',
 'Beans, Dry, Red (0% moisture)',
 'Beans, Dry, Small Red (0% moisture)',
 'Beans, Dry, Small Red (0% moisture)',
 'Beans, Dry, Small White (0% moisture)',
 'Beans, Dry, Small White (0% moisture)',
 'Beans, Dry, Tan (0% moisture)',
 'Beans, Dry, Tan (0% moisture)',
 'Beans, snap, green, canned, regular pack, drained solids',
 'Beef, loin, tenderloin roast, separable lean only, boneless, trimmed to 0" fat, select, cooked, roasted',
 'Beef, loin, tenderloin roast, separable lean only, boneless, trimmed to 0" fat, select, cooked, roasted',
 'Beef, loin, top loin steak, boneless, lip-on, separable lean only, trimmed to 1/8" fat, choice, raw',
 'Beef, loin, top loin steak, boneless, lip-on, separable lean only, trimmed to 1/8" fat, choice, raw',
 'Beef, round, eye of round roast, boneless, separable lean only, trimmed to 0" fat, select, raw',
 'Beef, round, eye of round roast, boneless, separable lean only, trimmed to 0" fat, select, raw',
 'Beef, round, top round roast, boneless, separable lean only, trimmed to 0" fat, select, raw',
 'Beef, round, top round roast, boneless, separable lean only, trimmed to 0" fat, select, raw',
 'Beef, short loin, porterhouse steak, separable lean only, trimmed to 1/8" fat, select, raw',
 'Beef, short loin, porterhouse steak, separable lean only, trimmed to 1/8" fat, select, raw',
 'Beef, short loin, t-bone steak, bone-in, separable lean only, trimmed to 1/8" fat, choice, cooked, grilled',
 'Beef, short loin, t-bone steak, bone-in, separable lean only, trimmed to 1/8" fat, choice, cooked, grilled',
 'Bread, white, commercially prepared',
 'Bread, whole-wheat, commercially prepared',
 'Broccoli, raw',
 'Broccoli, raw',
 'Butter, stick, salted',
 'Butter, stick, unsalted',
 'Carrots, frozen, unprepared',
 "Carrots, frozen, unprepared (Includes foods for USDA's Food Distribution Program)",
 'Cheese, American, restaurant',
 'Cheese, cheddar',
 'Cheese, cottage, lowfat, 2% milkfat',
 'Cheese, dry white, queso seco',
 'Cheese, dry white, queso seco',
 'Cheese, mozzarella, low moisture, part-skim',
 'Cheese, parmesan, grated',
 'Cheese, pasteurized process, American, vitamin D fortified',
 'Cheese, ricotta, whole milk',
 'Cheese, ricotta, whole milk',
 'Cheese, swiss',
 'Cheese, swiss',
 'Chicken, broiler or fryers, breast, skinless, boneless, meat only, cooked, braised',
 'Chicken, broilers or fryers, drumstick, meat only, cooked, braised',
 'Cookies, oatmeal, soft, with raisins',
 'Egg, white, dried',
 'Egg, white, raw, frozen, pasteurized',
 'Egg, whole, dried',
 'Egg, whole, raw, frozen, pasteurized',
 'Egg, yolk, dried',
 'Egg, yolk, raw, frozen, pasteurized',
 'Eggs, Grade A, Large, egg white',
 'Eggs, Grade A, Large, egg whole',
 'Eggs, Grade A, Large, egg yolk',
 'Figs, dried, uncooked',
 'Figs, dried, uncooked',
 'Fish, haddock, raw',
 'Fish, pollock, raw',
 'Fish, tuna, light, canned in water, drained solids',
 'Flour, bread, white, enriched, unbleached',
 'Flour, corn, yellow, fine meal, enriched',
 'Flour, pastry, unenriched, unbleached',
 'Flour, rice, brown',
 'Flour, rice, glutinous',
 'Flour, rice, white, unenriched',
 'Flour, soy, defatted',
 'Flour, soy, full-fat',
 'Flour, wheat, all-purpose, enriched, bleached',
 'Flour, wheat, all-purpose, enriched, unbleached',
 'Flour, wheat, all-purpose, unenriched, unbleached',
 'Flour, whole wheat, unenriched',
 'Frankfurter, beef, unheated',
 'Garlic, raw',
 'Grapefruit juice, white, canned or bottled, unsweetened',
 'Ham, sliced, pre-packaged, deli meat (96%fat free, water added)',
 'Ham, sliced, restaurant',
 'Hummus, commercial',
 'Kale, frozen, cooked, boiled, drained, without salt',
 'Kale, raw',
 'Ketchup, restaurant',
 'Kiwifruit, green, raw',
 'Lettuce, cos or romaine, raw',
 'Lettuce, cos or romaine, raw',
 'Melons, cantaloupe, raw',
 'Melons, cantaloupe, raw',
 'Milk, lowfat, fluid, 1% milkfat, with added vitamin A and vitamin D',
 'Milk, lowfat, fluid, 1% milkfat, with added vitamin A and vitamin D',
 'Milk, nonfat, fluid, with added vitamin A and vitamin D (fat free or skim)',
 'Milk, nonfat, fluid, with added vitamin A and vitamin D (fat free or skim)',
 'Milk, reduced fat, fluid, 2% milkfat, with added vitamin A and vitamin D',
 'Milk, reduced fat, fluid, 2% milkfat, with added vitamin A and vitamin D',
 'Milk, whole, 3.25% milkfat, with added vitamin D',
 'Milk, whole, 3.25% milkfat, with added vitamin D',
 "Mushroom, lion's mane",
 'Mushroom, oyster',
 'Mushrooms, shiitake',
 'Mushrooms, white button',
 'Mustard, prepared, yellow',
 'Nectarines, raw',
 'Nuts, almonds, dry roasted, with salt added',
 'Oil, canola',
 'Oil, coconut',
 'Oil, corn',
 'Oil, olive, extra light',
 'Oil, olive, extra virgin',
 'Oil, peanut',
 'Oil, safflower',
 'Oil, soybean',
 'Oil, sunflower',
 'Olives, green, Manzanilla, stuffed with pimiento',
 'Onion rings, breaded, par fried, frozen, prepared, heated in oven',
 'Onions, red, raw',
 'Onions, white, raw',
 'Onions, yellow, raw',
 'Oranges, raw, navels',
 "Oranges, raw, navels (Includes foods for USDA's Food Distribution Program)",
 'Peaches, yellow, raw',
 'Peanut butter, smooth style, with salt',
 'Pears, raw, bartlett',
 "Pears, raw, bartlett (Includes foods for USDA's Food Distribution Program)",
 'Pickles, cucumber, dill or kosher dill',
 'Pork, cured, bacon, cooked, restaurant',
 'Restaurant, Chinese, fried rice, without meat',
 'Restaurant, Chinese, sweet and sour pork',
 'Restaurant, Chinese, sweet and sour pork',
 'Restaurant, Latino, pupusas con frijoles (pupusas, bean)',
 'Restaurant, Latino, tamale, pork',
 'Salt, table, iodized',
 'Salt, table, iodized',
 'Sauce, pasta, spaghetti/marinara, ready-to-serve',
 'Sauce, salsa, ready-to-serve',
 'Sauce, salsa, ready-to-serve',
 'Sausage, Italian, pork, mild, cooked, pan-fried',
 'Sausage, Italian, pork, mild, cooked, pan-fried',
 'Sausage, breakfast sausage, beef, pre-cooked, unprepared',
 'Sausage, breakfast sausage, beef, pre-cooked, unprepared',
 'Sausage, pork, chorizo, link or ground, cooked, pan-fried',
 'Sausage, pork, chorizo, link or ground, cooked, pan-fried',
 'Sausage, turkey, breakfast links, mild, raw',
 'Sausage, turkey, breakfast links, mild, raw',
 'Seeds, sunflower seed kernels, dry roasted, with salt added',
 'Soy milk, unsweetened, plain, shelf stable',
 'Spinach, baby',
 'Spinach, mature',
 'Strawberries, raw',
 'Strawberries, raw',
 'Sugars, granulated',
 'Sugars, granulated',
 'Tomato, roma',
 'Tomatoes, canned, red, ripe, diced',
 'Tomatoes, grape, raw',
 'Turkey, ground, 93% lean, 7% fat, pan-broiled crumbles',
 'Turkey, ground, 93% lean, 7% fat, pan-broiled crumbles',
 'Yogurt, Greek, plain, nonfat',
 'Yogurt, Greek, strawberry, nonfat']

In [301]:
ten_whole_foods = ["chicken_wings",
    "apple",
    "banana",
    "beef", # steak, etc
    "carrots",
    "egg", # whole egg
    "strawberries",
    "blueberries",
    "mushrooms",
    "honey"
]

In [293]:
# Find blueberries
food.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,319874,sample_food,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
1,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
2,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
3,319877,sub_sample_food,Hummus,16.0,2019-04-01
4,319878,sub_sample_food,Hummus,16.0,2019-04-01

In [299]:
# Looks like blueberries and other foods are in the survery dataset: 
food = food.dropna()
list(food[food["description"].str.contains("berry", case=False)]["description"])

['Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CO,CT) CY120ZK',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CO1) NFY120NUA',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CO1) NFY120NUB',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CT1) NFY120ODF',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CT1) NFY120ODE',
 'Minerals, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CO,CT) - NFY120ONZ',
 'Proximates, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CO,CT) - NFY120OO0',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (AL,CA1) CY120ZI',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (AL1) NFY120O7W',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA1) NFY120O9H',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (AL1) NFY120O7X',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA1) NFY120O9I',
 'Minerals, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (AL,CA1) - NFY120ON8',
 'Proximates, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (AL,CA1) - NFY120ON9',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (MI,OK) CY120ZM',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (MI1) NFY120OE7',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (OK1) NFY120NYI',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (MI1) NFY120OE8',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (OK1) NFY120NYJ',
 'Minerals, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (MI,OK) - NFY120OOK',
 'Proximates, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (MI,OK) - NFY120OOL',
 'Pantothenic Acid, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (MI,OK) - NFY120OOM',
 'Vitamin B12, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (MI,OK) - NFY120OON',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL,MO) CY120ZL',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL) NFY120OAZ',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL) NFY120OB1',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL) NFY120OB5',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL) NFY120OB2',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (MO1) NFY120NWH',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL) NFY120OB4',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL) NFY120OB3',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (MO1) NFY120NWI',
 'Minerals, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL,MO) - NFY120OO6',
 'Niacin, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL,MO) - NFY120OO7',
 'Proximates, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL,MO) - NFY120OO8',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL,MO) - NFY120OO9',
 'Selenium, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL,MO) - NFY120OOA',
 'Sugars, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL,MO) - NFY120OOB',
 'Thiamin, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL,MO) - NFY120OOC',
 'Vitamin B6, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (FL,MO) - NFY120OOD',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) CY1211C',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL) NFY120OAB',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL) NFY120OAD',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CT1) NFY120NV7',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL) NFY120OAE',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CT1) NFY120NV8',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CT1) NFY120NVA',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL) NFY120OAF',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CT1) NFY120NV5',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL) NFY120OAC',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CT1) NFY120NVB',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL) NFY120OAG',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CT1) NFY120NV6',
 'Minerals, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PA5',
 'Niacin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PA6',
 'Proximates, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PA7',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PA8',
 'Selenium, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PA9',
 'Pantothenic Acid, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PAA',
 'Sugars, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PAB',
 'Thiamin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PAC',
 'Vitamin B12, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PAD',
 'Vitamin B6, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (FL,CT) - NFY120PAE',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) CY120ZJ',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (NC1) NFY120ODC',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2) NFY120O2U',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2) NFY120O2T',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2) NFY120O2X',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (NC1) NFY120ODD',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2) NFY120O2W',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2) NFY120O2V',
 'Minerals, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONG',
 'Niacin, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONH',
 'Proximates, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONI',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONJ',
 'Selenium, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONK',
 'Vitamin D, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONL',
 'Pantothenic Acid, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONM',
 'Starch, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONN',
 'Sugars, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONO',
 'Thiamin, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONP',
 'Vitamin B12, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONQ',
 'Vitamin B6, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (CA2,NC) - NFY120ONR',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (AL,CA1) CY120ZO',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (AL1) NFY120O8E',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA1) NFY120O8V',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (AL1) NFY120O8H',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA1) NFY120O8R',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (AL1) NFY120O8F',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA1) NFY120O8T',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (AL1) NFY120O8J',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA1) NFY120O8S',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (AL1) NFY120O8I',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA1) NFY120O8U',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (AL1) NFY120O8G',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA1) NFY120O8Q',
 'Minerals, Yogurt, Greek, strawberry, non-fat, CHOBANI (AL,CA1) - NFY120OP8',
 'Proximates, Yogurt, Greek, strawberry, non-fat, CHOBANI (AL,CA1) - NFY120OP9',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) CY120ZH',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (NY1) NFY120OFH',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN1) NFY120O6R',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN1) NFY120O6S',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (NY1) NFY120OFI',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (NY1) NFY120OFG',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (NY1) NFY120OFK',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (NY1) NFY120OFF',
 'Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (NY1) NFY120OFJ',
 'Folate, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMO',
 'Minerals, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMP',
 'Niacin, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMQ',
 'Proximates, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMR',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMS',
 'Selenium, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMT',
 'Fatty Acids, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMU',
 'Sugars, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMV',
 'TDF, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMW',
 'Thiamin, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMX',
 'Vitamin B6, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMY',
 'Vitamin C, Yogurt, Greek, strawberry, non-fat, DANNON OIKOS (IN,NY) - NFY120OMZ',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) CY120ZN',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (IN1) NFY120O6K',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NY1) NFY120OEQ',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NY1) NFY120OEU',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (IN1) NFY120O6O',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NY1) NFY120OEV',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (IN1) NFY120O6P',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NY1) NFY120OER',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (IN1) NFY120O6L',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NY1) NFY120OES',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (IN1) NFY120O6M',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NY1) NFY120OET',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (IN1) NFY120O6N',
 'Minerals, Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) - NFY120OOT',
 'Niacin, Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) - NFY120OOU',
 'Proximates, Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) - NFY120OOV',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) - NFY120OOW',
 'Selenium, Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) - NFY120OOX',
 'Sugars, Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) - NFY120OOY',
 'Thiamin, Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) - NFY120OOZ',
 'Vitamin B6, Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) - NFY120OP0',
 'Vitamin C, Yogurt, Greek, strawberry, non-fat, CHOBANI (IN,NY) - NFY120OP1',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CO,CT) CY120ZQ',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CO1) NFY120NUT',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CO1) NFY120NUX',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CT1) NFY120ODI',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CO1) NFY120NUU',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CT1) NFY120ODJ',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CO1) NFY120NUV',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CT1) NFY120ODK',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CO1) NFY120NUW',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CT1) NFY120ODG',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CT1) NFY120ODL',
 'Minerals, Yogurt, Greek, strawberry, non-fat, CHOBANI (CO,CT) - NFY120OPU',
 'Proximates, Yogurt, Greek, strawberry, non-fat, CHOBANI (CO,CT) - NFY120OPV',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MI,OK) CY120ZS',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (OK1) NFY120O7S',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MI1) NFY120ODM',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (OK1) NFY120O7Q',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (OK1) NFY120O7U',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MI1) NFY120ODP',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (OK1) NFY120O7T',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MI1) NFY120ODN',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (OK1) NFY120O7R',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MI1) NFY120ODQ',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MI1) NFY120ODR',
 'Minerals, Yogurt, Greek, strawberry, non-fat, CHOBANI (MI,OK) - NFY120OQH',
 'Proximates, Yogurt, Greek, strawberry, non-fat, CHOBANI (MI,OK) - NFY120OQI',
 'Pantothenic Acid, Yogurt, Greek, strawberry, non-fat, CHOBANI (MI,OK) - NFY120OQJ',
 'Vitamin B12, Yogurt, Greek, strawberry, non-fat, CHOBANI (MI,OK) - NFY120OQK',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) CY120ZV',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NC1) NFY120OCG',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NC1) NFY120OCI',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY1) NFY120OEI',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NC1) NFY120OCK',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY1) NFY120OEG',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY1) NFY120OEK',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NC1) NFY120OCJ',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY1) NFY120OEJ',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NC1) NFY120OCH',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NC1) NFY120OCL',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY1) NFY120OEH',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY1) NFY120OEL',
 'Minerals, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) - NFY120ORD',
 'Niacin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) - NFY120ORE',
 'Proximates, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) - NFY120ORF',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) - NFY120ORG',
 'Selenium, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) - NFY120ORH',
 'Sugars, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) - NFY120ORJ',
 'Thiamin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) - NFY120ORK',
 'Vitamin B12, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) - NFY120ORL',
 'Vitamin B6, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (NY,NC) - NFY120ORM',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) CY120ZX',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2) NFY120O3R',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2) NFY120O3S',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CO1) NFY120NUG',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CO1) NFY120NUF',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2) NFY120O3T',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CO1) NFY120NUH',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CO1) NFY120NUC',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2) NFY120O3Q',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2) NFY120O3U',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CO1) NFY120NUD',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2) NFY120O3V',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CO1) NFY120NUE',
 'Minerals, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120ORZ',
 'Niacin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120OS0',
 'Proximates, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120OS1',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120OS2',
 'Selenium, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120OS3',
 'Pantothenic Acid, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120OS4',
 'Sugars, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120OS5',
 'Thiamin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120OS6',
 'Vitamin B12, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120OS7',
 'Vitamin B6, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA2,CO) - NFY120OS8',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) CY120ZR',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (FL) NFY120OAT',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MO1) NFY120NWY',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (FL) NFY120OAV',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MO1) NFY120NWZ',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (FL) NFY120OAW',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MO1) NFY120NX0',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (FL) NFY120OAX',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MO1) NFY120NWW',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (FL) NFY120OAU',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MO1) NFY120NX1',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (FL) NFY120OAY',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (MO1) NFY120NWX',
 'Proximates, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ2',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ3',
 'Selenium, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ4',
 'Fatty Acids, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ5',
 'Starch, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ6',
 'Sugars, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ7',
 'TDF, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ8',
 'Thiamin, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ9',
 'Vitamin B6, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQA',
 'Minerals, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ0',
 'Niacin, Yogurt, Greek, strawberry, non-fat, CHOBANI (FL,MO) - NFY120OQ1',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) CY120ZT',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (OK1) NFY120O7I',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1) NFY120O93',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (OK1) NFY120O7G',
 'Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1) NFY120O92',
 'Carotenoids, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQP',
 'Minerals, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQQ',
 'Niacin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQR',
 'Proximates, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQS',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQT',
 'Selenium, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQU',
 'Fatty Acids, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQV',
 'Sugars, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQW',
 'Thiamin, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQX',
 'Vitamin B6, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OQY',
 'Cholesterol, Yogurt, Greek, strawberry, non-fat, FAGE TOTAL (CA1,OK) - NFY120OR0',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2,NC) CY120ZP',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NC1) NFY120OC9',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NC1) NFY120OCA',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NC1) NFY120OCE',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2) NFY120O41',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2) NFY120O45',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NC1) NFY120OCB',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2) NFY120O42',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NC1) NFY120OCC',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2) NFY120O43',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2) NFY120O40',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (NC1) NFY120OCD',
 'Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2) NFY120O44',
 'Minerals, Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2,NC) - NFY120OPE',
 'Niacin, Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2,NC) - NFY120OPF',
 'Proximates, Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2,NC) - NFY120OPG',
 'Riboflavin, Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2,NC) - NFY120OPH',
 'Selenium, Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2,NC) - NFY120OPI',
 'Pantothenic Acid, Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2,NC) - NFY120OPJ',
 'Sugars, Yogurt, Greek, strawberry, non-fat, CHOBANI (CA2,NC) - NFY120OPK',

In [300]:
food

,fdc_id,data_type,description,food_category_id,publication_date
0,319874,sample_food,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
1,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
2,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
3,319877,sub_sample_food,Hummus,16.0,2019-04-01
4,319878,sub_sample_food,Hummus,16.0,2019-04-01
...,...,...,...,...,...
27580,1757377,sub_sample_food,"MUSHROOMS, SHIITAKE",11.0,2021-04-23
27581,1757378,sub_sample_food,"MUSHROOMS, SHIITAKE",11.0,2021-04-23
27582,1757379,sub_sample_food,"MUSHROOMS, SHIITAKE",11.0,2021-04-23
27583,1757380,sub_sample_food,"MUSHROOMS, SHIITAKE",11.0,2021-04-23
27584,1757381,sub_sample_food,"MUSHROOMS, SHIITAKE",11.0,2021-04-23

In [302]:
ten_whole_foods

['chicken_wings',
 'apple',
 'banana',
 'beef',
 'carrots',
 'egg',
 'strawberries',
 'blueberries',
 'mushrooms',
 'honey']

## Get ten whole foods `food_id`

Everything except blueberries and honey are available in `foundation_food`. 

For blueberries and honey, we'll have to dig into the survery data: `data_exploration/data/FoodData_Central_survey_food_csv_2020-10-30`

In [318]:
# Get all food ids from foundation_food (honey and blueberries in another dataset)
eight_whole_foods = ['apple', # removed chicken wings... can come back later...
 'banana',
 'beef',
 'carrots',
 'chicken',
 'egg',
 'strawberries',
 'mushrooms']

In [319]:
# str.contains can search on regex - https://stackoverflow.com/a/17973255/7900723
pattern = "|".join([f"(?i){food}" for food in eight_whole_foods])
pattern

'(?i)apple|(?i)banana|(?i)beef|(?i)carrots|(?i)chicken|(?i)egg|(?i)strawberries|(?i)mushrooms'

In [320]:
foundation_food[foundation_food["description"].str.contains(pattern, case=False)].sort_values(by=["description"])

,fdc_id,data_type,description,food_category_id,publication_date
20540,1105897,foundation_food,"Apples, fuji, with skin, raw",9.0,2020-10-30
20544,1750340,foundation_food,"Apples, fuji, with skin, raw",9.0,2020-10-30
20545,1750341,foundation_food,"Apples, gala, with skin, raw",9.0,2020-10-30
20425,1105781,foundation_food,"Apples, gala, with skin, raw",9.0,2020-10-30
20308,1105664,foundation_food,"Apples, granny smith, with skin, raw",9.0,2020-10-30
20546,1750342,foundation_food,"Apples, granny smith, with skin, raw",9.0,2020-10-30
20191,1105547,foundation_food,"Apples, honeycrisp, with skin, raw",9.0,2020-10-30
20547,1750343,foundation_food,"Apples, honeycrisp, with skin, raw",9.0,2020-10-30
20074,1105430,foundation_food,"Apples, red delicious, with skin, raw",9.0,2020-10-30
20543,1750339,foundation_food,"Apples, red delicious, with skin, raw",9.0,2020-10-30
19717,1105073,foundation_food,"Bananas, overripe, raw",9.0,2020-04-01
19026,790774,foundation_food,"Bananas, overripe, raw",9.0,2020-04-01
19958,1105314,foundation_food,"Bananas, ripe and slightly ripe, raw",9.0,2020-04-01
19243,790991,foundation_food,"Bananas, ripe and slightly ripe, raw",9.0,2020-04-01
14190,334897,foundation_food,"Beef, loin, tenderloin roast, separable lean o...",13.0,2019-04-01
15361,746758,foundation_food,"Beef, loin, tenderloin roast, separable lean o...",13.0,2019-12-16
15362,746759,foundation_food,"Beef, loin, top loin steak, boneless, lip-on, ...",13.0,2019-12-16
14142,334849,foundation_food,"Beef, loin, top loin steak, boneless, lip-on, ...",13.0,2019-04-01
14191,334898,foundation_food,"Beef, round, eye of round roast, boneless, sep...",13.0,2019-04-01
15363,746760,foundation_food,"Beef, round, eye of round roast, boneless, sep...",13.0,2019-12-16
14256,334963,foundation_food,"Beef, round, top round roast, boneless, separa...",13.0,2019-04-01
15364,746761,foundation_food,"Beef, round, top round roast, boneless, separa...",13.0,2019-12-16
14402,335109,foundation_food,"Beef, short loin, porterhouse steak, separable...",13.0,2019-04-01
15365,746762,foundation_food,"Beef, short loin, porterhouse steak, separable...",13.0,2019-12-16
14354,335061,foundation_food,"Beef, short loin, t-bone steak, bone-in, separ...",13.0,2019-04-01
15366,746763,foundation_food,"Beef, short loin, t-bone steak, bone-in, separ...",13.0,2019-12-16
15367,746764,foundation_food,"Carrots, frozen, unprepared",11.0,2019-12-16
5751,326458,foundation_food,"Carrots, frozen, unprepared (Includes foods fo...",11.0,2019-04-01
11253,331960,foundation_food,"Chicken, broiler or fryers, breast, skinless, ...",5.0,2019-04-01
11190,331897,foundation_food,"Chicken, broilers or fryers, drumstick, meat o...",5.0,2019-04-01
3086,323793,foundation_food,"Egg, white, dried",1.0,2019-04-01
2990,323697,foundation_food,"Egg, white, raw, frozen, pasteurized",1.0,2019-04-01
8783,329490,foundation_food,"Egg, whole, dried",1.0,2019-04-01
2897,323604,foundation_food,"Egg, whole, raw, frozen, pasteurized",1.0,2019-04-01
9009,329716,foundation_food,"Egg, yolk, dried",1.0,2019-04-01
8889,329596,foundation_food,"Egg, yolk, raw, frozen, pasteurized",1.0,2019-04-01
16600,747997,foundation_food,"Eggs, Grade A, Large, egg white",1.0,2019-12-16
17570,748967,foundation_food,"Eggs, Grade A, Large, egg whole",1.0,2019-12-16
16839,748236,foundation_food,"Eggs, Grade A, Large, egg yolk",1.0,2019-12-16
2414,323121,foundation_food,"Frankfurter, beef, unheated",7.0,2019-04-01
20550,1750346,foundation_food,"Mushrooms, shiitake",11.0,2021-04-28
20551,1750347,foundation_food,"Mushrooms, white button",11.0,2021-04-28
15382,746779,foundation_food,"Sausage, breakfast sausage, beef, pre-cooked, ...",7.0,2019-12-16
3450,324157,foundation_food,"Sausage, breakfast sausage, beef, pre-cooked, ...",7.0,2019-04-01
6992,327699,foundation_food,"Strawberries, raw",9.0,2019-04-01
16051,747448,foundation_food,"Strawberries, raw",9.0,2019-12-16

In [316]:
sorted(eight_whole_foods)

['apple', 'banana', 'beef', 'carrots', 'egg', 'mushrooms', 'strawberries']

In [317]:
chicken_wing_id

331897

In [321]:
# Map foods to food_id (these have been filtered from larger quantities to smaller quantities)
# For example, if there were 5 kinds of apple, only one was chosen
eight_whole_foods_id_map = {1750339: "apple", # red delicious
    1105314: "banana", # Bananas, ripe and slightly ripe, raw	
    746763: "beef", # t-bone steak 
    746764: "carrots", # frozen unprepared
    331897: "chicken_wings", # Chicken, broilers or fryers, drumstick, meat o...	
    329490: "egg", # Egg, whole, dried	
    1750347: "mushrooms", # Mushrooms, white button
    747448: "strawberries" # strawberries, raw
}

In [325]:
list(eight_whole_foods_id_map.keys())

[1750339, 1105314, 746763, 746764, 331897, 329490, 1750347, 747448]

In [380]:
# Find nutrition for eight whole foods
eight_whole_foods_df = food_nutrient[(food_nutrient["fdc_id"].isin(list(eight_whole_foods_id_map.keys()))) & (food_nutrient["nutrient_id"].isin(list(target_nutrient_dict.keys())))][["fdc_id", "nutrient_id", "amount"]]
eight_whole_foods_df

        fdc_id  nutrient_id     amount
34265   329490         1004  39.800000
34266   329490         1005   1.870000
34270   329490         1003  48.100000
41686   331897         1004   5.950000
41718   331897         1003  23.900000
41729   331897         1005   0.000000
71052   746763         1003  27.300000
71079   746763         1005   0.000000
71097   746763         1004  11.400000
71175   746764         1004   0.470000
71197   746764         1005   7.920000
71198   746764         1003   0.810000
81087   747448         1004   0.220000
81165   747448         1005   7.630000
81175   747448         1003   0.640000
96994  1105314         1005  23.000000
97023  1105314         1004   0.290000
97028  1105314         1003   0.740000
98266  1750339         1005  14.781700
98267  1750339         1003   0.187500
98285  1750339         1004   0.212500
98488  1750347         1005   4.079375
98500  1750347         1004   0.370800
98508  1750347         1003   2.890625

In [381]:
# Pivot the table to how we want it
eight_whole_foods_df = eight_whole_foods_df.pivot_table("amount", "fdc_id", "nutrient_id")
eight_whole_foods_df

nutrient_id       1003     1004       1005
fdc_id
329490       48.100000  39.8000   1.870000
331897       23.900000   5.9500   0.000000
746763       27.300000  11.4000   0.000000
746764        0.810000   0.4700   7.920000
747448        0.640000   0.2200   7.630000
1105314       0.740000   0.2900  23.000000
1750339       0.187500   0.2125  14.781700
1750347       2.890625   0.3708   4.079375

In [382]:
eight_whole_foods_df = eight_whole_foods_df.reset_index(drop=False).rename_axis(None, axis=1)
eight_whole_foods_df

    fdc_id       1003     1004       1005
0   329490  48.100000  39.8000   1.870000
1   331897  23.900000   5.9500   0.000000
2   746763  27.300000  11.4000   0.000000
3   746764   0.810000   0.4700   7.920000
4   747448   0.640000   0.2200   7.630000
5  1105314   0.740000   0.2900  23.000000
6  1750339   0.187500   0.2125  14.781700
7  1750347   2.890625   0.3708   4.079375

In [383]:
target_nutrient_dict

{1003: 'protein', 1004: 'fat', 1005: 'carbohydrate'}

In [384]:
# Rename columns
eight_whole_foods_df.rename(columns=target_nutrient_dict, inplace=True)
eight_whole_foods_df

    fdc_id    protein      fat  carbohydrate
0   329490  48.100000  39.8000      1.870000
1   331897  23.900000   5.9500      0.000000
2   746763  27.300000  11.4000      0.000000
3   746764   0.810000   0.4700      7.920000
4   747448   0.640000   0.2200      7.630000
5  1105314   0.740000   0.2900     23.000000
6  1750339   0.187500   0.2125     14.781700
7  1750347   2.890625   0.3708      4.079375

In [386]:
# Add food names
eight_whole_foods_df["food_name"] = eight_whole_foods_df["fdc_id"].map(eight_whole_foods_id_map)
eight_whole_foods_df

    fdc_id    protein      fat  carbohydrate      food_name
0   329490  48.100000  39.8000      1.870000            egg
1   331897  23.900000   5.9500      0.000000  chicken_wings
2   746763  27.300000  11.4000      0.000000           beef
3   746764   0.810000   0.4700      7.920000        carrots
4   747448   0.640000   0.2200      7.630000   strawberries
5  1105314   0.740000   0.2900     23.000000         banana
6  1750339   0.187500   0.2125     14.781700          apple
7  1750347   2.890625   0.3708      4.079375      mushrooms

# Next

* add blueberries and honey to the database above
* train a model on the 10 foods...
* integrate model somewhere to show off the nutrients in each food!